.navBar {
  position: relative;
  backdrop-filter: blur(100px);
  border: 1px solid white;
}

.navBar_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar_left {
  margin-left: 30px;
}

.navBar_logo > h1 {
  color: white;
  letter-spacing: 10px;
}

.navBar_right {
  margin-right: 30px;
}

.navBar_bottom {
  width: 0%;
  position: absolute;
  top: 0%;
  height: 100vh;
  background-color: white;
  opacity: 0;
}

.navBar_bottomClose {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navBar_close {
  margin-right: 30px !important;
  opacity: 1;
}

.navBar_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.navBar_li {
  letter-spacing: 8px;
  margin-top: 30px;
  width: 90%;
  margin-bottom: 20px;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navBar_link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: x-large;
  padding: 20px;
  transition: 0.3s ease-in-out;
}

.navBar_link:hover {
  font-size: xx-large;
  letter-spacing: 20px;
  font-weight: 900;
}
